:root {
  --primary-color: #342baa;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* #f5f2fe #e6f0ff #6c63ff #eeeeee #225763 #153b44 #f1f1f1 1e6262
  --primary-color: #0f226e;
  --secondary-color: #d6d3f1;
  
   --primary-color: #ffedaf;
  --secondary-color: #de9bcf;
  
    --primary-color: #342baa;
  --secondary-color: #98b0bc;
  
    --primary-color: #106f78;
  --secondary-color: #e2bcdd; 

    --primary-color: #2e3ca6;
  --secondary-color: #e2d7dd;

    --primary-color: #20097b;
  --secondary-color: #c9c0d2;
  */

@media (max-width: 576px) {
  body {
    margin: none !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  p {
    font-size: 16px !important;
  }
  .title {
    font-size: 36px !important;
  }
  .header {
    font-size: 30px !important;
  }
  .email-link {
    font-size: 20px !important;
  }
  .hrtg-button {
    display: block !important;
  }
}

h3 {
  font-size: 20px;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
}

h4 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.about-paragraphs {
  margin: 30px 0;
  margin: 10px;
  background: white !important;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.contact {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.contact-box {
  margin-top: 120px !important;
  background-color: var(--secondary-color);
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "Roboto", sans-serif;
}

.contact-link:hover {
  color: white;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.email-link:hover {
  text-decoration: underline;
  font-family: "Roboto", sans-serif;
  color: #e35686;
}

.header {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  margin-top: 30px;
}

.header-index {
  font-family: "Martian Mono", monospace;
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.hero {
  background-color: var(--secondary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
  font-family: "Roboto", sans-serif;
}

.hrtg-button {
  background-color: var(--primary-color) !important;
  box-shadow: var(--box-shadow);
  color: white !important;
  text-align: center;
  margin: 10px 0px 30px 0px;
  font-family: "Roboto", sans-serif;
}

.image-about {
  background: white;
  padding: 10px;
  margin: 10px;
  box-shadow: var(--box-shadow);
}

.index-project-paragraph {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

.index-project-paragraph h2 {
  margin-top: 10px;
}

.navbar-custom {
  background-color: var(--secondary-color) !important;
  font-family: "Robobto", sans-serif;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.title {
  font-family: "Martian Mono", monospace;
  font-size: 86px;
}

.page-container {
  margin: 0px !important;
}

.row-container {
  margin: 5px 60px 5px 60px;
}

.socials-container {
  background-color: var(--secondary-color) !important;
}

.socials-icons {
  display: flex;
  justify-content: center;
  color: var(--primary-color) !important;
  background-color: #fff;
  padding: 10px;
  margin: 0px 10px;
  border-radius: 50%;
  font-size: 28px;
  text-decoration: none;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
